CATALOG_PLATFORM_DOMAIN=myctlg-update.ru
CADDY_ACME_EMAIL=admin@myctlg-update.ru
CADDY_PLATFORM_CERT_FULLCHAIN=/etc/ssl/certs/myctlg-update.ru.fullchain.pem
CADDY_PLATFORM_CERT_KEY=/etc/ssl/private/myctlg-update.ru.key
